.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}


.contact-image {
  flex: 1;
  min-width: 300px;
}

.contact-image img {
  width: 80%;
  height: 500px;
  object-fit: cover;
  border-radius: 0
  ;

}

.contact-form-container {
  flex: 1;
  padding: 40px;
 
}

.contact-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}
