.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.links {
  display: flex;
  gap: 15px;
}

.links a,
.logout-button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: left;
    background-color: #444;
    padding: 10px 0;
  }

  .links.show {
    display: flex;
  }

  .links a,
  .logout-button {
    padding: 10px 20px;
    border-top: 1px solid #555;
  }
}
