.footer {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
  color: #f5c518;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #cccccc;
  text-decoration: none;
}

.footer-section a:hover {
  color: #ffffff;
  text-decoration: underline;
}
